.navigation {
    background-color: #d2d0d0;
    padding: 1rem;
    font-family: 'Sabon';
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .navigation a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
  }

  .navigation a:hover {
    color: #ddd;
  }

.small-navigation {
    position: fixed;
    top: 20px;
    right: 200px;
    background-color: transparent;
    z-index: 1000;
    font-family: 'Sabon';
    padding: 1rem;
    background-color: white;
  }

  .small-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
  }

  .small-navigation a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .small-navigation a:hover {
    color: #ddd;
  }

  .small-navigation a.active{
    text-decoration: underline;
    font-weight: bold;
  }

