.navigation {
    background-color: #c7bcb7;
    height: 250px;
    z-index: 1000px;
    top: 0;
    padding: 0rem;
    font-family: 'Sabon';
    margin-top: 0;
    position: fixed;
    width: 100%;
    background-color: #c7bcb7;
    text-align: center;
    justify-content: center;
  }

  .head {
    font-size: 75px;
    margin-right: 70px;
    padding: 0rem;
    margin-top: 100px;
    font-variant-ligatures: no-common-ligatures;
  }
  
  .navigation ul {
    list-style: none;
    padding: 0rem;
    margin-right: 50px;
    margin-top: 35px;
    display: flex;
    justify-content: right;
    gap: 1.5rem;
  }
  
  .navigation a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: right;
  }

  .navigation a:hover {
    color: #ddd;
  }

.small-navigation {
    background-color: #c7bcb7;
    top: 0;
    margin-top: 0%;
    padding: 0rem;
    font-family: 'Sabon';
    position: fixed;
    width: 100%;
    background-color: #c7bcb7;
    position: fixed;
    justify-items: right;
    z-index: 1000;
    font-family: 'Sabon';
    height: 100px;
  }

  .small-navigation ul {
    margin-right: 70px;
    margin-top: 50px;
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }

  .small-navigation a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: 50px;
  }
  
  .small-navigation a:hover {
    color: #ddd;
  }

  .small-navigation a.active{
    text-decoration: underline;
    font-weight: bold;
  }

.small-head {
    margin-left: 20px;
    margin-right: 850px;
    margin-top: -10px;
    font-size: 2rem;
    text-align: left;
    font-family: 'Sabon';
    color: black;
  }

/* Shrink state */
.navigation.shrink {
  height: 100px;
}

.navigation.shrink .head {
  font-size: 30px;
  margin-right: 230px;
  margin-top: 0px;
}

.navigation.shrink ul {
  margin-top: 30;
}

.navigation.shrink a {
  font-size: 16px;
}


