.featured-post {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 800px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0);
}

.featured-label {
    text-transform: uppercase;
    color: #666;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.featured-content h2 {
    margin: 0.5rem 0;
    color: #333;
    font-style: italic;
  }
  
  .author {
    color: #666;
    font-style: italic;
  }
  
  .excerpt {
    margin: 1rem 0;
    line-height: 1.6;
    font-family: 'Sabon';
    margin-right: 1rem 0;
  }
  
  .read-more {
    display: inline-block;
    color: white;
    text-decoration: none;
    /*font-weight: bold;*/
    font-size: 0.8rem;
  }
  
  .read-more:hover {
    color: #666;
  }
  
  .read-more-img {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
  }
  
  .read-more-img:hover {
    color: #666;
  }